http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-S-20171002
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <sumario>
          <meta>
            <pub>BOE</pub>
            <anno>2017</anno>
            <fecha>02/10/2017</fecha>
            <fechaInv>2017/10/02</fechaInv>
            <fechaAnt>30/09/2017</fechaAnt>
            <fechaAntAnt>29/09/2017</fechaAntAnt>
            <fechaSig>03/10/2017</fechaSig>
            <fechaPub>lunes 2 de octubre de 2017</fechaPub>
            <pubDate>Mon, 02 Oct 2017 00:00:00 +0200</pubDate>
          </meta>
          <diario nbo="237">
            <sumario_nbo id="BOE-S-2017-237">
              <urlPdf szBytes="381313" szKBytes="372">/boe/dias/2017/10/02/pdfs/BOE-S-2017-237.pdf</urlPdf>
            </sumario_nbo>
            <seccion num="1" nombre="I. Disposiciones generales">
              <departamento nombre="JEFATURA DEL ESTADO" etq="7723">
                <epigrafe nombre="Acuerdos internacionales">
                  <item id="BOE-A-2017-11117" control="2017/10986">
                    <titulo>Instrumento de ratificación del Protocolo Adicional al Convenio sobre traslado de personas condenadas, hecho en Estrasburgo el 18 de diciembre de 1997.</titulo>
                    <urlPdf szBytes="274662" szKBytes="268" numPag="10">/boe/dias/2017/10/02/pdfs/BOE-A-2017-11117.pdf</urlPdf>
                    <urlHtm>/diario_boe/txt.php?id=BOE-A-2017-11117</urlHtm>
                    <urlXml>/diario_boe/xml.php?id=BOE-A-2017-11117</urlXml>
                  </item>
                </epigrafe>
              </departamento>
              <departamento nombre="MINISTERIO DE ASUNTOS EXTERIORES Y DE COOPERACIÓN" etq="7120">
                <epigrafe nombre="Acuerdos internacionales">
                  <item id="BOE-A-2017-11118" control="2017/10924">
                    <titulo>Enmiendas a los Anexos 2, 6 y 7 del Convenio Aduanero relativo al Transporte Internacional de Mercancías al amp[...]
