http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_borme/xml.php?id=BORME-S-2017-5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <sumario>
          <meta>
            <pub>BORME</pub>
            <anno>2017</anno>
            <fecha>09/01/2017</fecha>
            <fechaInv>2017/01/09</fechaInv>
            <fechaAnt>05/01/2017</fechaAnt>
            <fechaAntAnt>04/01/2017</fechaAntAnt>
            <fechaSig>10/01/2017</fechaSig>
            <fechaPub>lunes 9 de enero de 2017</fechaPub>
            <pubDate>Mon, 09 Jan 2017 00:00:00 +0100</pubDate>
          </meta>
          <diario nbo="5">
            <sumario_nbo id="BORME-S-2017-5">
              <urlPdf szBytes="206247" szKBytes="201">/borme/dias/2017/01/09/pdfs/BORME-S-2017-5.pdf</urlPdf>
            </sumario_nbo>
            <seccion num="A" nombre="SECCIÓN PRIMERA. Empresarios">
              <emisor nombre="Actos inscritos" etq="a1">
                <item id="BORME-A-2017-5-03">
                  <titulo>ALICANTE</titulo>
                  <urlPdf szBytes="211969" szKBytes="207">/borme/dias/2017/01/09/pdfs/BORME-A-2017-5-03.pdf</urlPdf>
                </item>
                <item id="BORME-A-2017-5-06">
                  <titulo>BADAJOZ</titulo>
                  <urlPdf szBytes="161913" szKBytes="158">/borme/dias/2017/01/09/pdfs/BORME-A-2017-5-06.pdf</urlPdf>
                </item>
                <item id="BORME-A-2017-5-08">
                  <titulo>BARCELONA</titulo>
                  <u[...]
