http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-S-20191202
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <sumario>
          <meta>
            <pub>BOE</pub>
            <anno>2019</anno>
            <fecha>02/12/2019</fecha>
            <fechaInv>2019/12/02</fechaInv>
            <fechaAnt>30/11/2019</fechaAnt>
            <fechaAntAnt>29/11/2019</fechaAntAnt>
            <fechaSig>03/12/2019</fechaSig>
            <fechaPub>lunes 2 de diciembre de 2019</fechaPub>
            <pubDate>Mon, 02 Dec 2019 00:00:00 +0100</pubDate>
          </meta>
          <diario nbo="289">
            <sumario_nbo id="BOE-S-2019-289">
              <urlPdf szBytes="476595" szKBytes="465">/boe/dias/2019/12/02/pdfs/BOE-S-2019-289.pdf</urlPdf>
            </sumario_nbo>
            <seccion num="1" nombre="I. Disposiciones generales">
              <departamento nombre="BANCO DE ESPAÑA" etq="1020">
                <epigrafe nombre="Entidades de crédito">
                  <item id="BOE-A-2019-17286" control="2019/17419">
                    <titulo>Circular 4/2019, de 26 de noviembre, del Banco de España, a establecimientos financieros de crédito, sobre normas de información financiera pública y reservada, y modelos de estados financieros.</titulo>
                    <urlPdf szBytes="326748" szKBytes="319" numPag="16">/boe/dias/2019/12/02/pdfs/BOE-A-2019-17286.pdf</urlPdf>
                    <urlHtm>/diario_boe/txt.php?id=BOE-A-2019-17286</urlHtm>
                    <urlXml>/diario_boe/xml.php?id=BOE-A-2019-17286</urlXml>
                  </item>
                </epigrafe>
              </departamento>
              <departamento nombre="COMISIÓN NACIONAL DE LOS MERCADOS Y LA COMPETENCIA" etq="9534">
                <epigrafe nombre="Energía eléctrica">
                  <item id="BOE-A-2019-17287" control="2019/17339">
                    <titulo>Circular 3/2019, de 20 de noviembre, de la Comisión Nacional de los Mercados y la Competencia, por la que se establec[...]
