http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-A-2009-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      link: <https://www.boe.es/buscar/xml.php?id=BOE-A-2009-54>; rel="canonical"
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <documento fecha_actualizacion="20190617175601">
          <metadatos>
            <identificador>BOE-A-2009-54</identificador>
            <titulo>Orden ITC/3837/2008, de 26 de diciembre, por la que se aprueban las cuotas de la Corporación de Reservas Estratégicas de Productos Petrolíferos correspondientes al ejercicio 2009.</titulo>
            <diario codigo="BOE">Boletín Oficial del Estado</diario>
            <diario_numero>2</diario_numero>
            <seccion>1</seccion>
            <subseccion/>
            <departamento codigo="5251">Ministerio de Industria, Turismo y Comercio</departamento>
            <rango codigo="1350">Orden</rango>
            <numero_oficial>ITC/3837/2008</numero_oficial>
            <fecha_disposicion>20081226</fecha_disposicion>
            <fecha_publicacion>20090102</fecha_publicacion>
            <fecha_vigencia>20090103</fecha_vigencia>
            <fecha_derogacion/>
            <letra_imagen>A</letra_imagen>
            <pagina_inicial>163</pagina_inicial>
            <pagina_final>164</pagina_final>
            <suplemento_letra_imagen/>
            <suplemento_pagina_inicial/>
            <suplemento_pagina_final/>
            <estatus_legislativo>L</estatus_legislativo>
            <origen_legislativo codigo="1">Estatal</origen_legislativo>
            <estado_consolidacion codigo=""/>
            <judicialmente_anulada>N</judicialmente_anulada>
            <vigencia_agotada>N</vigencia_agotada>
            <estatus_derogacion>N</estatus_derogacion>
            <url_epub/>
            <url_pdf>/boe/dias/2009/01/02/pdfs/BOE-A-2009-54.pdf</url_pdf>
            <url_pdf_catalan/>
            <url_pdf_euskera/>
            <url_pdf_gallego/>
            <url_pdf_valenciano/>
            <url_eli>https://www.boe.es/eli/es/o/2008/12/26/itc3837</url_eli>
          </metadatos>
          <metadata-eli>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:eli="http://data.europa.eu/eli/ontology#">
              <eli:LegalResource rdf:about="https://www.boe.es/eli/es/o/2008/12/26/itc3837">
                <eli:jurisdiction rdf:resource="http://www.elidata.es/mdr/authority/jurisdiction/1/es"/>
                <eli:type_document rdf:resource="http://www.elidata.es/mdr/authority/resource-type/1/o"/>
                <eli:id_local rdf:datatype="http://www.w3.org/2001/XMLSchema#string">BOE-A-2009-54</eli:id_local>
                <eli:date_document rdf:datatype="http://www.w3.org/2001/XMLSchema#date">2008-12-26</eli:date_document>
                <eli:number rdf:datatype="http://www.w3.org/2001/XMLSchema#string">itc3837</eli:number>
                <eli:has_member>
                  <eli:LegalResource rdf:about="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof">
                    <eli:jurisdiction rdf:resource="http://www.elidata.es/mdr/authority/jurisdiction/1/es"/>
                    <eli:type_document rdf:resource="http://www.elidata.es/mdr/authority/resource-type/1/o"/>
                    <eli:id_local rdf:datatype="http://www.w3.org/2001/XMLSchema#string">BOE-A-2009-54</eli:id_local>
                    <eli:date_document rdf:datatype="http://www.w3.org/2001/XMLSchema#date">2008-12-26</eli:date_document>
                    <eli:number rdf:datatype="http://www.w3.org/2001/XMLSchema#string">itc3837</eli:number>
                    <eli:version rdf:resource="http://www.elidata.es/mdr/authority/version/dof"/>
                    <eli:is_member_of rdf:resource="https://www.boe.es/eli/es/o/2008/12/26/itc3837"/>
                    <eli:is_realized_by>
                      <eli:LegalExpression rdf:about="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa">
                        <eli:language rdf:resource="http://www.elidata.es/mdr/authority/language/spa"/>
                        <eli:title rdf:datatype="http://www.w3.org/2001/XMLSchema#string">Orden ITC/3837/2008, de 26 de diciembre, por la que se aprueban las cuotas de la Corporación de Reservas Estratégicas de Productos Petrolíferos correspondientes al ejercicio 2009.</eli:title>
                        <eli:publisher rdf:resource="www.boe.es"/>
                        <eli:date_publication rdf:datatype="http://www.w3.org/2001/XMLSchema#date">2009-01-02</eli:date_publication>
                        <eli:realizes rdf:resource="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof"/>
                        <eli:is_embodied_by>
                          <eli:Format rdf:about="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa/html">
                            <eli:format rdf:resource="http://www.iana.org/assignments/media-types/text/html"/>
                            <eli:embodies rdf:resource="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa"/>
                          </eli:Format>
                        </eli:is_embodied_by>
                        <eli:is_embodied_by>
                          <eli:Format rdf:about="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa/pdf">
                            <eli:format rdf:resource="http://www.iana.org/assignments/media-types/application/pdf"/>
                            <eli:embodies rdf:resource="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa"/>
                          </eli:Format>
                        </eli:is_embodied_by>
                        <eli:is_embodied_by>
                          <eli:Format rdf:about="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa/xml">
                            <eli:format rdf:resource="http://www.iana.org/assignments/media-types/application/xml"/>
                            <eli:embodies rdf:resource="https://www.boe.es/eli/es/o/2008/12/26/itc3837/dof/spa"/>
                          </eli:Format>
                        </eli:is_embodied_by>
                      </eli:LegalExpression>
                    </eli:is_realized_by>
                  </eli:LegalResource>
                </eli:has_member>
              </eli:LegalResource>
            </rdf:RDF>
          </metadata-eli>
          <analisis>
            <notas/>
            <materias>
              <materia codigo="1734" orden="">Corporación de Reservas Estratégicas de Productos Petrolíferos</materia>
              <materia codigo="3069" orden="">Distribución de energía</materia>
              <materia codigo="3889" orden="">Gas</materia>
              <materia codigo="4000" orden="">Hidrocarburos</materia>
              <materia codigo="5575" orden="">Productos petrolíferos</materia>
            </materias>
            <alertas>
              <alerta codigo="115" orden="">Energía</alerta>
            </alertas>
            <referencias>
              <anteriores>
                <anterior referencia="BOE-A-2004-15457" orden="3060">
                  <palabra codigo="440">DE CONFORMIDAD con</palabra>
                  <texto>los arts. 25 y 26 del Real Decreto 1716/2004, de 23 de julio</texto>
                </anterior>
              </anteriores>
              <posteriores>
                <posterior referencia="BOE-A-2009-8959" orden="">
                  <palabra codigo="270">SE MODIFICA</palabra>
                  <texto>lo indicado, por Orden ITC/1377/2009, de 27 de mayo</texto>
                </posterior>
              </posteriores>
            </referencias>
          </analisis>
          <texto>
            <p class="parrafo">El Real Decreto 1716/2004, de 23 de julio, por el que se regula la obligación de mantenimiento de existencias mínimas de seguridad, la diversificación de abas[...]
