http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-S-2017-5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <sumario>
          <meta>
            <pub>BOE</pub>
            <anno>2017</anno>
            <fecha>06/01/2017</fecha>
            <fechaInv>2017/01/06</fechaInv>
            <fechaAnt>05/01/2017</fechaAnt>
            <fechaAntAnt>04/01/2017</fechaAntAnt>
            <fechaSig>07/01/2017</fechaSig>
            <fechaPub>viernes 6 de enero de 2017</fechaPub>
            <pubDate>Fri, 06 Jan 2017 00:00:00 +0100</pubDate>
          </meta>
          <diario nbo="5">
            <sumario_nbo id="BOE-S-2017-5">
              <urlPdf szBytes="224297" szKBytes="219">/boe/dias/2017/01/06/pdfs/BOE-S-2017-5.pdf</urlPdf>
            </sumario_nbo>
            <seccion num="1" nombre="I. Disposiciones generales">
              <departamento nombre="MINISTERIO DE HACIENDA Y FUNCIÓN PÚBLICA" etq="9279">
                <epigrafe nombre="Tabaco. Precios">
                  <item id="BOE-A-2017-202" control="2017/130">
                    <titulo>Resolución de 5 de enero de 2017, de la Presidencia del Comisionado para el Mercado de Tabacos, por la que se publican los precios de venta al público de determinadas labores de tabaco en Expendedurías de Tabaco y Timbre de la Península e Illes Balears.</titulo>
                    <urlPdf szBytes="199212" szKBytes="195" numPag="3">/boe/dias/2017/01/06/pdfs/BOE-A-2017-202.pdf</urlPdf>
                    <urlHtm>/diario_boe/txt.php?id=BOE-A-2017-202</urlHtm>
                    <urlXml>/diario_boe/xml.php?id=BOE-A-2017-202</urlXml>
                  </item>
                </epigrafe>
              </departamento>
            </seccion>
            <seccion num="2A" nombre="II. Autoridades y personal. - A. Nombramientos, situaciones e incidencias">
              <departamento nombre="MINISTERIO DE JUSTICIA" etq="4810">
                <epigrafe nombre="Reingresos">
                  <item id="BOE-A-2017-203" control="2017/111">
                    <titulo>Orden JUS/2009/2016, [...]
