http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-B-2009-100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      link: <https://www.boe.es/buscar/xml.php?id=BOE-B-2009-100>; rel="canonical"
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <documento fecha_actualizacion="20181023185408">
          <metadatos>
            <identificador>BOE-B-2009-100</identificador>
            <titulo>Resolución de la Dirección de Patrimonio y Contratación del Departamento de Hacienda y Administración Pública por la que se da publicidad a la adjudicación del contrato administrativo de servicios que tiene por objeto Diseño, instalaciones, medios humanos necesarios y las actividades de animación para participación del Gobierno Vasco en la edición 2008-2009 del Parque Infantil de Navidad - Umeen Gabonetako Parkea.</titulo>
            <diario codigo="BOE">Boletín Oficial del Estado</diario>
            <diario_numero>4</diario_numero>
            <seccion>5</seccion>
            <subseccion>A</subseccion>
            <departamento codigo="8140">Comunidad Autónoma del País Vasco</departamento>
            <numero_anuncio>74818</numero_anuncio>
            <fecha_publicacion>20090105</fecha_publicacion>
            <letra_imagen>B</letra_imagen>
            <pagina_inicial>115</pagina_inicial>
            <pagina_final>115</pagina_final>
            <suplemento_letra_imagen/>
            <suplemento_pagina_inicial/>
            <suplemento_pagina_final/>
            <url_pdf>/boe/dias/2009/01/05/pdfs/BOE-B-2009-100.pdf</url_pdf>
          </metadatos>
          <analisis>
            <modalidad codigo=""/>
            <tipo codigo="340">Adjudicación Concurso de Servicios</tipo>
            <tramitacion codigo=""/>
            <procedimiento codigo=""/>
            <fecha_presentacion_ofertas/>
            <fecha_apertura_ofertas/>
            <precio codigo="">De 360.607,27 a 841.416,95 Euros</precio>
            <importe/>
            <ambito_geografico>País Vasco</ambito_geografico>
            <materias>207 Cultura, deporte y ocio</materias>
            <materias_cpv/>
            <observaciones/>
          </analisis>
          <texto>
            <dl>
              <dt>1. Entidad adjudicadora. </dt>
              <dd>
                <dl>
                  <dt>a) Organismo: </dt>
                  <dd>Departamento de Hacienda y Administración Pública.</dd>
                  <dt>b) Dependencia que tramita el expediente: </dt>
                  <dd>Comisión Central de Contratación - Dirección de Patrimonio y Contratación.</dd>
                  <dt>c) Número de expediente: </dt>
                  <dd>C02/064/2008.</dd>
                </dl>
              </dd>
              <dt>2. Objeto del contrato.</dt>
   [...]
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-A-2009-100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      link: <https://www.boe.es/buscar/xml.php?id=BOE-A-2009-100>; rel="canonical"
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <documento fecha_actualizacion="20181023185408">
          <metadatos>
            <identificador>BOE-A-2009-100</identificador>
            <titulo>Resolución de 19 de diciembre de 2008, de la Dirección General de Personal y Centros Docentes, de la Consejería de Educación, Cultura y Deporte, por la que se da publicidad a la convocatoria de procedimiento de acceso a los Cuerpos de Catedráticos de Enseñanza Secundaria, de Artes Plásticas y Diseño y de Escuelas Oficiales de Idiomas.</titulo>
            <diario codigo="BOE">Boletín Oficial del Estado</diario>
            <diario_numero>3</diario_numero>
            <seccion>2</seccion>
            <subseccion>B</subseccion>
            <departamento codigo="8110">Comunidad Autónoma de La Rioja</departamento>
            <rango codigo="1370">Resolución</rango>
            <numero_oficial/>
            <fecha_disposicion>20081219</fecha_disposicion>
            <fecha_publicacion>20090103</fecha_publicacion>
            <fecha_vigencia/>
            <fecha_derogacion/>
            <letra_imagen>A</letra_imagen>
            <pagina_inicial>362</pagina_inicial>
            <pagina_final>363</pagina_final>
            <suplemento_letra_imagen/>
            <suplemento_pagina_inicial/>
            <suplemento_pagina_final/>
            <estatus_legislativo/>
            <origen_legislativo codigo="2">Autonómico</origen_legislativo>
            <estado_consolidacion codigo=""/>
            <judicialmente_anulada>N</judicialmente_anulada>
            <vigencia_agotada>N</vigencia_agotada>
            <estatus_derogacion>N</estatus_derogacion>
            <url_epub/>
            <url_pdf>/boe/dias/2009/01/03/pdfs/BOE-A-2009-100.pdf</url_pdf>
            <url_pdf_catalan/>
            <url_pdf_euskera/>
            <url_pdf_gallego/>
            <url_pdf_valenciano/>
          </metadatos>
          <analisis>
            <notas/>
            <materias/>
            <alertas/>
            <referencias>
              <anteriores/>
              <posteriores/>
            </referencias>
          </analisis>
          <texto>
            <p class="parrafo">De conformidad con lo previsto en el artículo 9 del Real Decreto 276/2007, de 23 de febrero («BOE» de 2 de marzo), por el que se aprueba el Reglamento de ingreso, accesos y adquisición de nuevas especialidades en los cuerpos docentes a que se refiere la Ley Orgánica 2/2006, de 3 de mayo, de Educación, y se regula el régimen transitorio de ingreso a que se refiere la disposición transitoria decimoséptima de la citada Ley, esta Dirección General ha resuelto anunciar:</p>
            <p class="parrafo_2">Que en el «Boletín Oficial de La Rioja», de fecha 29 de diciembre de 2008, se publica la Resolución de 19 de diciembre de 2008, del Consejero de Educación, Cultura y Deporte, por la que se convoca procedimiento de acceso a los Cuerpos de Catedráticos de Enseñanza Secundaria, de Artes Plásticas y Diseño y de Escuelas Oficiales de Idiomas.</p>
            <p class="parrafo">Que el plazo de presentación de instancias es el comprendido entre los días 30 de diciembre de 2008 y 19 de enero de 2009, ambos inclusive.</p>
            <p class="parrafo">Que la distribución de las plazas convocadas por turnos y especialidades es la siguiente:</p>
            <p class="capitulo">Cuerpo de Catedráticos de Enseñanza Secundaria</p>
            <table>
              <tr>
                <td>
                  <p class="t_cabeza_tabla">Especialidad</p>
                </td>
                <td>
                  <p class="t_cabeza_tabla">Plazas</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="t_cuerpo_tabla_normal">FILOSOFÍA</p>
                </td>
                <td>
                  <p class="t_cuerpo_tabla_normal">3</p>
                </td>
              </tr>
              <tr>
                <td>
           [...]
