http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-A-2017-5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <documento fecha_actualizacion="20181107130555">
          <metadatos>
            <identificador>BOE-A-2017-5</identificador>
            <titulo>Resolución de 14 de diciembre de 2016, de la Dirección General de la Función Pública, por la que se publica convocatoria para la provisión de puesto de trabajo reservado a funcionarios de administración local con habilitación de carácter nacional por el sistema de libre designación.</titulo>
            <diario codigo="BOE">Boletín Oficial del Estado</diario>
            <diario_numero>1</diario_numero>
            <seccion>2</seccion>
            <subseccion>B</subseccion>
            <departamento codigo="9279">Ministerio de Hacienda y Función Pública</departamento>
            <rango codigo="1370">Resolución</rango>
            <numero_oficial/>
            <fecha_disposicion>20161214</fecha_disposicion>
            <fecha_publicacion>20170102</fecha_publicacion>
            <fecha_vigencia/>
            <fecha_derogacion/>
            <letra_imagen>A</letra_imagen>
            <pagina_inicial>28</pagina_inicial>
            <pagina_final>29</pagina_final>
            <suplemento_letra_imagen/>
            <suplemento_pagina_inicial/>
            <suplemento_pagina_final/>
            <estatus_legislativo/>
            <origen_legislativo codigo="1">Estatal</origen_legislativo>
            <estado_consolidacion codigo=""/>
            <judicialmente_anulada>N</judicialmente_anulada>
            <vigencia_agotada>N</vigencia_agotada>
            <estatus_derogacion>N</estatus_derogacion>
            <url_epub/>
            <url_pdf>/boe/dias/2017/01/02/pdfs/BOE-A-2017-5.pdf</url_pdf>
            <url_pdf_catalan/>
            <url_pdf_euskera/>
            <url_pdf_gallego/>
            <url_pdf_valenciano/>
          </metadatos>
          <analisis>
            <notas/>
            <materias/>
            <alertas/>
            <referencias>
              <anteriores/>
              <posteriores/>
            </referencias>
          </analisis>
          <texto>
            <p xmlns:xhtml="http://www.w3.org/1999/xhtml" class="parrafo">De conformidad con lo dispuesto en el apartado veinticinco del artículo primero de la Ley 27/2013, de 27 de diciembre, de racionalización y sostenibilidad de la Administración Local, así como del artículo 28.2 del Real Decreto 1732/1994, de 29 de julio, según la modificación efectuada por el Real Decreto 834/2003, de 27 de junio, y en uso de las competencias conferidas en el Real Decreto 424/2016, de 11 de noviembre, por [...]
