http_interactions:
- request:
    method: get
    uri: https://boe.es/diario_boe/xml.php?id=BOE-B-2009-100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      link: <https://www.boe.es/buscar/xml.php?id=BOE-B-2009-100>; rel="canonical"
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <documento fecha_actualizacion="20181023185408">
          <metadatos>
            <identificador>BOE-B-2009-100</identificador>
            <titulo>Resolución de la Dirección de Patrimonio y Contratación del Departamento de Hacienda y Administración Pública por la que se da publicidad a la adjudicación del contrato administrativo de servicios que tiene por objeto Diseño, instalaciones, medios humanos necesarios y las actividades de animación para participación del Gobierno Vasco en la edición 2008-2009 del Parque Infantil de Navidad - Umeen Gabonetako Parkea.</titulo>
            <diario codigo="BOE">Boletín Oficial del Estado</diario>
            <diario_numero>4</diario_numero>
            <seccion>5</seccion>
            <subseccion>A</subseccion>
            <departamento codigo="8140">Comunidad Autónoma del País Vasco</departamento>
            <numero_anuncio>74818</numero_anuncio>
            <fecha_publicacion>20090105</fecha_publicacion>
            <letra_imagen>B</letra_imagen>
            <pagina_inicial>115</pagina_inicial>
            <pagina_final>115</pagina_final>
            <suplemento_letra_imagen/>
            <suplemento_pagina_inicial/>
            <suplemento_pagina_final/>
            <url_pdf>/boe/dias/2009/01/05/pdfs/BOE-B-2009-100.pdf</url_pdf>
          </metadatos>
          <analisis>
            <modalidad codigo=""/>
            <tipo codigo="340">Adjudicación Concurso de Servicios</tipo>
            <tramitacion codigo=""/>
            <procedimiento codigo=""/>
            <fecha_presentacion_ofertas/>
            <fecha_apertura_ofertas/>
            <precio codigo="">De 360.607,27 a 841.416,95 Euros</precio>
            <importe/>
            <ambito_geografico>País Vasco</ambito_geografico>
            <materias>207 Cultura, deporte y ocio</materias>
            <materias_cpv/>
            <observaciones/>
          </analisis>
          <texto>
            <dl>
              <dt>1. Entidad adjudicadora. </dt>
              <dd>
                <dl>
                  <dt>a) Organismo: </dt>
                  <dd>Departamento de Hacienda y Administración Pública.</dd>
                  <dt>b) Dependencia que tramita el expediente: </dt>
                  <dd>Comisión Central de Contratación - Dirección de Patrimonio y Contratación.</dd>
                  <dt>c) Número de expediente: </dt>
                  <dd>C02/064/2008.</dd>
                </dl>
              </dd>
              <dt>2. Objeto del contrato.</dt>
   [...]
